# Database Configuration
DB_HOST=database-1.cluster-cw18kkw8mg9c.us-east-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=your_password_here
DB_NAME=goalquest
DB_PORT=3306

# JWT Secret
JWT_SECRET=your_super_secret_jwt_key_here

# Server Configuration
PORT=3002
NODE_ENV=development